.sSection {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  padding-top: 20px;
}

.SHeader {
	width: 85%;
}

.sHeader {
  font-size: 50px;
  color: #24408e;
  font-family: womby;
}

.sBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
	margin: auto;
	padding-bottom: 10vh;
}

.t1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
	height: 25vh;
}

.t12 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	width: 100%;
	height: 25vh;

}

.t2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.t3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.t4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.t5 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.t6 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.rockwell {
	width: auto;
	height:110px;
	padding-right: 50px;
}
.KeyBank {
	width: auto;
	height:150px;

}

.t2 .coLo{
	margin: auto;
	width: auto;
	padding-left: 70px;
	padding-right: 70px;
	height:110px;
}

.t3 .coLo {
	margin: auto;
	width: auto;
	padding-left: 70px;
	padding-right: 70px;
	height:90px;
}

.t4 .coLo {
	margin: auto;
	height:60px;
	padding-left: 70px;
	padding-right: 70px;
	width: auto;
}

.t5 .coLo {
	margin: auto;
	height:80px;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
}

.t6 .coLo {
	margin: auto;
	height:50px;
	padding-left: 70px;
	padding-right: 70px;
	width: auto;
}

@media only screen and (max-width: 900px) {
    .coLo {
			max-width: 100% !important;
			width: 100% !important;
			height: auto !important;
			padding-top: 50px;
		}
		.rockwell, .KeyBank {
			width: 100%;
			height:auto;
		}
		.t1 {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			align-items: center;
		}
		.t2 {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			align-items: center;
		}
		.t3 {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			align-items: center;
		}
		.t4 {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			align-items: center;
		}
		.t5 {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			align-items: center;
		}
		.t6 {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			align-items: center;
		}

}
