
.trackSection {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.Trackheader {
	width: 85%;
}

.bodyTextTrack {
	display: flex;
	flex-direction: column;
	width: 85%;
}

.title_image {
	width: 100%;
}

.trackImageContainer {
	width: 200px;
	margin-right: 50px;
}

.trackTextContainer {
	flex-shrink: 10;
}

.trackText {
	font-size: 15px;
}

.track {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin-left: 50px;
}


.trackHeader {
  font-size: 50px;
  color: #24408e;
  font-family: womby;
}


.fin {
  color: #FFF079;
}

.trackHeader-civic {
  font-size: 50px;
  color: #8EEDFF;
  font-family: womby;
}

.trackHeader-health {
  font-size: 50px;
  color: #FF7082;
  font-family: womby;
}

.trackHeader-maker {
  font-size: 50px;
  color: #12437B;
  font-family: womby;
}
