@font-face {
  font-family: Hiragino;
  src: url("./assets/Hiragino.otf") format("opentype");
}

.introduction {
  background-color: #FFEFD8;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 2% 15% auto 100px;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .introduction {
    grid-template-columns: 10px 20px auto 20px 10px;
    grid-template-rows: 2% 15% auto 50px;
  }
}

/** 
 % 
 % These are the menu bar css
 % 
**/

.menuBar {
  display: grid;
  width:100%;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  align-items: center;
  grid-template-columns: 40% 150px auto;
}

.brand {
  display: grid;
  align-items: center;
  grid-template-columns: 350px 5px 60px;
  grid-template-rows: 60px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.brand h3 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: Hiragino;
  color:#B26483;
  font-size:20px;
  text-align: center;
}

/**
.brand h3 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  font-family: Hiragino;
  color:#B26483;
  font-size:20px;
}**/

.menuItems {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item1 {
  justify-self: end;
  color:#B26483;
}

@media (max-width: 600px) {
  .menuBar {
    grid-template-columns: auto;
  }

  .menuItems {
    display: none !important;
  }

  .brand {
    grid-template-columns: auto;
  }
}

/**
*  
*  This is the main content introduction
*
**/

.mainContent {
  display: grid;
  width:100%;
  grid-row-start:3;
  grid-row-end:4;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-template-columns: 60% 50px auto;
}

.theText {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  margin-top: -50px;
  text-align: center;
}

.myLogo {
  grid-column-start: 3;
  grid-column-end: 4;
  place-self: center;
}

.myLogo img {
  max-width: 120%;
  height: auto;
  margin-top:-75px;
  margin-left:-25px;
}

.theText h1 {
  font-family: Hiragino;
  color: #B26483;
  font-size: 80px;
  margin-block-start: 5px !important;
  margin-block-end: 5px !important;
}

.theText h3 {
  font-family: Hiragino;
  color:#B26483;
  font-size: 30px;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
}

.theText h4 {
  font-family: Hiragino;
  color:#B26483;
  font-size:20px;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
}

@media (max-width: 600px) {
  .mainContent {
    grid-template-columns: 100%;
  }

  .theText {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: auto;
    margin-top: 12px;
  }

  .theText h1 {
    font-size: 40px;
  }

  .theText h3, .theText h4 {
    font-size: 16px;
  }

  .myLogo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: auto;
  }

  .myLogo img {
    margin: 0;
    max-height: 35vh;
    width: auto;
  }
}

/**
*  
*  This is the sea stuff
*
**/

.sea {
  display: grid;
  width:100%;
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start: 1;
  grid-column-end: 6;
  justify-items: stretch;
  align-items: end;
}

.sea img {
  width: 100%;
}

button {
  width: inherit;
  background: inherit;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  width: auto;
}

.Button {
  text-decoration: none;
}
.buttonText {
  font-size: 20px;
  color: #B26483;
}

.lhd {
  background-color: #FFEFD8;
}

.lhd button {
  border-radius: 12px;
  border-color: #B26483;
}

.buttonTextLHD {
  font-size: 20px;
  color: #B26483;
}

.red button {
  border-color: #B26483;
  border-radius: 12px;
}

.green button {
  border-color: #B26483;
  border-radius: 12px;
}

.buttonGroup {
  padding-top: 25px;
}