.schedule {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.schedule .container {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.schedule .header {
  font-size: 50px;
  color: #24408e;
  font-family: womby;
}

.schedule .dayOfWeek {
  font-size: 50px;
  font-family: womby;
}

.schedule .event {
  font-size: 17px;
  margin-bottom: 20px;
}

.schedule .event .title {
  margin-bottom: 4px;
}

.schedule .event .title .name {
  font-weight: 800;
}

.schedule .event .time {
  font-weight: 800;
  margin-right: 8px;
}

@font-face {
  font-family: "womby";
  src: url("../Womby-Regular.ttf");
}
